<a href="https://colab.research.google.com/github/tanush-47/R-programming-assignment/blob/main/miniproject8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1. Create a file that contains 1000 lines of random strings.

In [ ]:
# Function to generate a random string of given length
generate_random_string <- function(length) {
  paste0(sample(c(letters, LETTERS, 0:9), length, replace = TRUE), collapse = "")
}

# Generate 1000 random strings (length between 6 and 12)
random_strings <- sapply(1:1000, function(x) generate_random_string(sample(6:12, 1)))

# Write to a file
writeLines(random_strings, "random_strings.txt")

cat("File 'random_strings.txt' created with 1000 random strings.\n")

# Q2. Create a random dataset of 100 rows and 30 columns. All the values are defined between [1,200]. Perform the following operations:

(i) Replace all the values with NA in the dataset defined between [10, 60]. Print the count of number
rows having missing values.

In [ ]:
# Set seed for reproducibility
set.seed(123)

# Step 1: Create 100x30 dataset with values between 1 and 200
data <- matrix(sample(1:200, 100 * 30, replace = TRUE), nrow = 100, ncol = 30)
df <- as.data.frame(data)

# Step 2: Replace values in [10, 60] with NA
df[df >= 10 & df <= 60] <- NA

# Step 3: Count number of rows with missing values
rows_with_na <- sum(apply(df, 1, function(x) any(is.na(x))))
cat("Number of rows with missing values:", rows_with_na, "\n")

(ii) Replace all the NA values with the average of the column value.

In [ ]:
# Replace NA with column means
for (i in 1:ncol(df)) {
  col_mean <- mean(df[[i]], na.rm = TRUE)
  df[[i]][is.na(df[[i]])] <- col_mean
}

(iii) Find the Pearson correlation among all the columns and plot heat map. Also select those columns
having correlation <=0.7.

In [ ]:
# Compute Pearson correlation matrix
cor_matrix <- cor(df, method = "pearson")

# Plot heatmap
heatmap(cor_matrix, main = "Pearson Correlation Heatmap", col = colorRampPalette(c("blue", "white", "red"))(100))

# Select columns with max correlation â‰¤ 0.7
max_cor_values <- apply(cor_matrix, 2, function(x) max(x[x < 1]))
selected_cols <- names(which(max_cor_values <= 0.7))

cat("Columns with max correlation <= 0.7:\n")
print(selected_cols)

(iv) Normalize all the values in the dataset between 0 and 10.

In [ ]:
# Normalize each column to [0, 10]
normalize <- function(x) {
  (x - min(x)) / (max(x) - min(x)) * 10
}
df_normalized <- as.data.frame(lapply(df, normalize))

(v) Replace all the values in the dataset with 1 if value <=0.5 else with 0.

In [ ]:
# Binary thresholding
df_binary <- as.data.frame(lapply(df_normalized, function(x) ifelse(x <= 0.5, 1, 0)))

# Q3. Create a random dataset of 500 rows and 10 columns.

Columns 1 to 4 are defined between [-10, 10];

Columns 5 to 8 are defined between [10, 20];

Columns 9 to 10 are defined between [-100, 100].

Apply following clustering algorithms; determine the optimal number of clusters and plot distance metric graph using each algorithm.

(i) K-Mean clustering

In [ ]:
set.seed(123)

# Generate dataset
data <- data.frame(
  matrix(runif(500 * 4, min = -10, max = 10), ncol = 4),
  matrix(runif(500 * 4, min = 10, max = 20), ncol = 4),
  matrix(runif(500 * 2, min = -100, max = 100), ncol = 2)
)
colnames(data) <- paste0("V", 1:10)

#Elbow Method to determine optimal number of clusters
library(factoextra)

# Compute total within-cluster sum of square for 1 to 10 clusters
fviz_nbclust(data, kmeans, method = "wss") +
  ggtitle("K-Means: Elbow Method")

  # Apply K-means with optimal k (assume k = 3 for example)

  k <- 3
kmeans_result <- kmeans(data, centers = k, nstart = 25)

# Plot clusters
fviz_cluster(kmeans_result, data = data, main = "K-Means Clustering")

(ii) Hierarchical Clustering

In [ ]:
# Calculate Euclidean distance
dist_matrix <- dist(scale(data), method = "euclidean")

# Hierarchical clustering
hc <- hclust(dist_matrix, method = "ward.D2")

# Plot dendrogram
plot(hc, main = "Hierarchical Clustering Dendrogram", xlab = "", sub = "")

# Cut the tree into k clusters (say 3)

rect.hclust(hc, k = 3, border = "red")
clusters_hc <- cutree(hc, k = 3)

# Q4. Create a random dataset of 600 rows and 15 columns. All the values are defined between [-100,100].
## Perform the following operations:

(i) Plot scatter graph between Column 5 and Column 6.

In [ ]:
set.seed(123)

# Generate dataset: 600 rows, 15 columns, values in [-100, 100]
data <- as.data.frame(matrix(runif(600 * 15, min = -100, max = 100), nrow = 600))
colnames(data) <- paste0("V", 1:15)

plot(data$V5, data$V6,
     main = "Scatter Plot: Column 5 vs Column 6",
     xlab = "Column 5", ylab = "Column 6",
     pch = 19, col = "blue")

(ii) Plot Histogram of Each Column in a Single Graph

In [ ]:
library(ggplot2)
library(reshape2)

# Melt data for plotting
data_melt <- melt(data)

# Histogram for each column using facets
ggplot(data_melt, aes(x = value)) +
  geom_histogram(bins = 30, fill = "skyblue", color = "black") +
  facet_wrap(~ variable, scales = "free") +
  theme_minimal() +
  labs(title = "Histograms of All Columns")

(iii) Plot Box Plot of Each Column in a Single Graph

In [ ]:
ggplot(data_melt, aes(x = variable, y = value)) +
  geom_boxplot(fill = "orange", color = "black") +
  theme_minimal() +
  labs(title = "Boxplots of All Columns", x = "Column", y = "Value") +
  theme(axis.text.x = element_text(angle = 90, hjust = 1))

# Q5. Create a random dataset of 500 rows and 5 columns: All the values are defined between [5,10]. Perform the following operations:

(i) Perform t-Test on each column.

In [ ]:
set.seed(123)

# Create dataset with values between [5,10]
data <- as.data.frame(matrix(runif(500 * 5, min = 5, max = 10), nrow = 500))
colnames(data) <- paste0("V", 1:5)

cat("One-sample t-tests (H0: mean = 7.5):\n")
for (i in 1:5) {
  test_result <- t.test(data[[i]], mu = 7.5)
  cat(paste("Column", i, "p-value:", round(test_result$p.value, 5), "\n"))
}

(ii) Perform Wilcoxon Signed-Rank Test on each column

In [ ]:
cat("\nWilcoxon signed-rank tests (H0: median = 7.5):\n")
for (i in 1:5) {
  wilcox_result <- wilcox.test(data[[i]], mu = 7.5)
  cat(paste("Column", i, "p-value:", round(wilcox_result$p.value, 5), "\n"))
}

(iii) Two-sample t-Test and Wilcoxon Rank Sum Test on Column 3 & Column 4

In [1]:
# Randomly assign rows to two groups
group <- sample(c("A", "B"), 500, replace = TRUE)

# Create two groups from Column 3
group1_col3 <- data$V3[group == "A"]
group2_col3 <- data$V3[group == "B"]

# Create two groups from Column 4
group1_col4 <- data$V4[group == "A"]
group2_col4 <- data$V4[group == "B"]

# Two-sample t-test between Column 3 and Column 4 groups
ttest_result <- t.test(group1_col3, group2_col4)
cat("\nTwo-sample t-test between Column 3 and Column 4 groups:\n")
print(ttest_result)

# Wilcoxon rank-sum test (Mann-Whitney U test)
wilcox_result <- wilcox.test(group1_col3, group2_col4)
cat("\nWilcoxon rank-sum test between Column 3 and Column 4 groups:\n")
print(wilcox_result)

SyntaxError: invalid syntax (ipython-input-1-870396101.py, line 5)